:root {
  --primary-bgr: #4d3dd9;
  --primary-bgr-darker: #481499;
  --ok: green;
  --warn: #d9543d;
  --error: red;
  --btn-primary-color: #fff;
  --primary-details-bgr: #fff;
  --primary-main-bgr: #F2F3F5
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
body {
  height: 100vh;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
}
main {
  flex: 1;
  display: flex;
  padding: 10px;
}
main section {
  flex: 1;
  text-align: left;
}
/* shared */
form span, .error {
  color: var(--error);
}
.button--ok {
  background: var(--ok);
  color: var(--btn-primary-color);
}
.button--warn {
  background: var(--warn);
  color: var(--btn-primary-color);
}
.button--round {
  background: var(--primary-bgr-darker);
  border-radius: 50%;
  color: var(--btn-primary-color);
  height: 40px;
  width: 40px;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button--round.small {
  height: 24px;
  width: 24px; 
  font-size: 1em;
  box-shadow: none;
}
.button--round:hover {
  transition: opacity 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.btn-emoji {
  font-size: 0.5em;
  position: relative;
  top: -3px;
}
.card {
  background: var(--primary-details-bgr);
  padding: 1em;
  border-radius: 0.3em;
}