:root {
  --primary-bgr: #4d3dd9;
  --primary-bgr-darker: #481499;
  --ok: green;
  --warn: #d9543d;
  --error: red;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
body {
  height: 100vh;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
}
main {
  flex: 1;
  display: flex;
  padding: 10px;
}
main section {
  flex: 1;
  text-align: left;
}
/* shared */
form span, .error {
  color: var(--error);
}
.button--ok {
  background: var(--ok);
  color: #fff;
}
.button--warn {
  background: var(--warn);
  color: #fff;
}